body{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}/*
.main{
    background: rgb(217, 255, 0);
    width:200px;
    height:200px;
    padding:20px;
    margin:10px;
    border-radius: 20px;
}

.spacer{
    background: rgb(55, 255, 0);
    width:200px;
    height:200px;
    padding:20px;
    margin:10px;
    border-radius: 20px;
}

.card{
    background: rgb(255, 0, 166);
    width:200px;
    height:200px;
    padding:20px;
    margin:10px;
    border-radius: 20px;
}

.col{
    background: rgb(0, 47, 255);
    width:200px;
    height:200px;
    padding:20px;
    margin:10px;
    border-radius: 20px;
}*/
img{
    margin:10;
    width:auto;
    height:auto;
}
ul{
    text-align: center;

}
h1{ font-size: 20px;}
.container{margin:0 auto;}
.spacer{
    margin:auto;
    width:1200px;
}
.main{
    background:#ffc200;
}
.header{
    padding:30px 0 40px;
    margin-left:50px;
    margin-right:50px;
}
.header li{
    list-style:none;
    display:inline-block;
}
.header li a{
    margin:0;
    padding:0;
    color:#333;
}
.jumbotron{
    background: #fff;
    margin-left:20px;
    max-width:1200px;
}
.jumbotron h2{
    font-size:50px;
    margin-bottom:70px;
}
.jumbotron h2 span{
    color:#ffc200;
}
.jumbotron p{
    text-shadow: 0 0;
    font-size: 16px;
    color: #666;
    margin-bottom: 0;
}
.banner{
    background: #333;
    color:#fff;
    text-align: center;
    padding:20px;

}
.cards{
    background: #ffc200;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;

}
.col{
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
#exparties{
    padding:20px;
    background: #ffc200;
    margin:0;
    text-align: center;

}
.footer{
    background: #000;
    padding:60px 0px;
    color:#fff

}