*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: wheat;
}

.dashboard{
    background: #2c3e50;
    color:white;
    min-height:100vh;
    width:220px;
    position: fixed;
    padding:20px;

}
li{
    margin:10px 0;
}
.sidebar{
    list-style: none;
    margin:5px 0 ;
    padding: 10px;

}
.sidebar:hover{
    cursor:pointer;
}
li:hover{
    border-radius: 5px;
    background: #233240;

}
.header{
    margin-left:240px;
    margin-top:30px;
}
.main{
    
    padding: 20px;

    background:white;
    color:black
}
.header-right{
    display:flex;
    justify-content: flex-end;
    gap:15px;
    position:relative;
    bottom:30px;
    font-size: 28px;
}
button{
    padding:10px;
    border-radius: 5px;;
    background: crimson;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
  padding:10px;
  margin:10px;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-5px);
}
.chart{
    background: white;
    height:240px;
    border-radius: 10px;
    
}
.chartholder{
    background: gray;
    height:200px;
    border-radius: 20px;
    color:rgb(237, 197, 204);
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;

    
}
.table{
    background: rgb(202, 202, 211);
    border-radius: 20px;
    padding:15px;
    width:100%;
}
td{
    padding:10px;

}
.status{
    border-radius: 5px;
    background: greenyellow;
    padding:2x;
}
button .btn{
    padding:10px;
    background: white;
}
